{% extends "base.html" %}
{% block lab %}РГЗ - Главная{% endblock %}
{% block main %}
    <div style="text-align: center; padding: 40px 0;">
        <h1>Сайт знакомств (РГЗ)</h1>
        <p>Курсовой проект по Web-программированию</p>
        <p>Иван Шевченко, ФБИ-34</p>
        
        {% if session.get('rgz_login') %}
            <!-- Если пользователь вошел -->
            <p>Привет, <b>{{ session.get('rgz_login') }}</b>!</p>
            <p>
                <a href="/rgz/search"><button>Начать поиск</button></a>
                <a href="/rgz/profile"><button style="background: #6c757d;">Мой профиль</button></a>
            </p>
            <p><a href="/rgz/logout" style="color: red;">Выйти из аккаунта</a></p>
        {% else %}
            <!-- Если гость -->
            <p>Чтобы искать пару, нужно войти:</p>
            <p>
                <a href="/rgz/login"><button>Войти</button></a>
                <a href="/rgz/register"><button style="background: #28a745;">Регистрация</button></a>
            </p>
        {% endif %}


    </div>
{% endblock %}