{% extends "base.html" %}
{% block lab %}РГЗ - Вход{% endblock %}
{% block main %}
    <h1>Вход</h1>
    <form method="post">
        <div>
            <label>Логин:</label><br>
            <input type="text" name="login" required>
        </div>
        <div>
            <label>Пароль:</label><br>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Войти</button>
    </form>
    {% if error %}
        <div style="color: red; margin-top: 10px;">{{ error }}</div>
    {% endif %}
    <p><a href="/rgz/register">Нет аккаунта? Зарегистрироваться</a></p>
{% endblock %}